html {
  font-family: "Arimo", sans-serif;
  background-color: ivory; }

html, body {
  margin: 0; }

.header {
  color: ivory;
  background-color: #437c5c;
  font-family: "Josefin Slab", serif;
  font-size: 48px;
  text-decoration: underline;
  text-align: center;
  width: 100%;
  height: 100px;
  line-height: 100px;
  top: 0px;
  position: fixed; }

.headroom {
  transition: transform 200ms ease-in; }
  .headroom--pinned {
    transform: translateY(0%); }
  .headroom--unpinned {
    transform: translateY(-100%); }

.sidebar {
  width: 50px;
  height: 50px;
  color: ivory;
  background-color: transparent;
  float: left;
  position: fixed;
  top: 0;
  font-size: 15px;
  transition-property: width, background-color, height;
  transition-duration: .25s, .15s, 0s;
  transition-delay: 0s, .1s, .25s; }

.sidebar.hovered {
  width: 300px;
  min-height: 400px;
  height: 75%;
  background-color: rgba(67, 97, 124, 0.7);
  transition-property: width, background-color;
  transition-duration: .5s, .4s;
  transition-delay: 0s, .1s; }

.fa-bars {
  font-size: 35px;
  color: white;
  padding-left: 3px;
  float: left;
  margin-top: 30px;
  margin-left: 25px;
  margin-bottom: 35px; }

.slinks, #mattr {
  clear: both;
  color: transparent;
  background-color: transparent;
  display: none;
  text-decoration: none;
  height: 50px;
  line-height: 50px;
  transition-property: background-color;
  transition-duration: .5s;
  transition-delay: 0s; }
  .slinks i, #mattr i {
    margin-right: 20px; }

.sidebar.hovered .slinks, .sidebar.hovered #mattr {
  display: block;
  color: ivory;
  padding-left: 20px;
  transition-property: color;
  transition-duration: .1s;
  transition-delay: .5s; }

.sidebar.hovered .slinks:hover, .sidebar.hovered #mattr:hover {
  background-color: rgba(67, 97, 124, 0.5);
  transition-property: background-color;
  transition-duration: .5s;
  transition-delay: 0s; }

#mattr {
  float: right;
  clear: none;
  margin-top: 20px;
  margin-right: 20px; }

.sidebar.hovered #mattr:hover {
  background-color: transparent; }

.fa {
  display: inline-block;
  width: 10px; }

.content {
  margin-top: 120px;
  margin-right: 20%;
  margin-left: 20%; }
  .content h1 {
    color: #da8f07;
    font-family: "Josefin Slab", serif; }

.port {
  height: auto;
  width: auto;
  margin-left: 20%;
  margin-right: 20%; }

.pitem {
  height: 400px;
  width: 37%;
  background-color: rgba(204, 204, 204, 0.5);
  border-radius: 10px;
  margin-bottom: 50px;
  color: #707070;
  padding: 10px 10px; }
  .pitem:nth-child(odd) {
    float: left;
    margin-left: 50px; }
  .pitem:nth-child(even) {
    float: right;
    margin-right: 50px; }
  .pitem .scrot {
    max-width: 300px; }
  .pitem .imgwrapinner {
    display: table-cell;
    vertical-align: middle; }
  .pitem .imgwrap {
    display: table;
    width: 100%;
    margin: 5px auto 10px auto;
    height: 50%;
    max-height: 50%; }
  .pitem .titlelink {
    color: #da8f07;
    font-family: "Josefin Slab", serif;
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold; }
  .pitem a {
    text-decoration: none;
    color: inherit; }
  .pitem a:hover {
    text-decoration: underline; }
  .pitem .langs img {
    display: inline-block;
    height: 30px;
    width: 30px;
    margin-top: 10px;
    margin-right: 2px; }

@media screen and (max-width: 900px) {
  .port, .content {
    margin-left: 5%;
    margin-right: 5%; }

  .port .pitem {
    margin-left: 0;
    margin-right: 0;
    width: 45%; } }
