$serif_stack: "Josefin Slab", serif;
$sans_stack: "Arimo", sans-serif;
$num_slinks: 6;

$offwhite: #FFFFF0;
$headergreen: rgb(67,124,92);
$sidebarblue: rgba(67,97,124,.7);
$slinkhover: rgba(67,97,124,.5);
$headerorange: rgb(218,143,7);

html{
	font-family: $sans_stack;
	background-color: $offwhite;
}

html, body {
	margin: 0;
}

.header{
	color: $offwhite;
	background-color: $headergreen;
	font-family: $serif_stack;
	font-size: 48px;
	text-decoration: underline;
	text-align: center;
	width: 100%;
	height: 100px;
	line-height: 100px;
	top: 0px;
	position: fixed;
}

.sidebar{
	width: 50px;
	height: 50px;
	color: $offwhite;
	background-color: transparent;
	float: left;
	position: fixed;
	top: 0;
	font-size: 15px;
	transition: {
		property: width, background-color, height;
		duration: .25s, .15s, 0s;
		delay: 0s, .1s, .25s;
	}
	
}

.sidebar.hovered{
	width: 300px;
	min-height: 100px + $num_slinks*50px;
	height: 75%;
	background-color: $sidebarblue;
	transition: {
		property: width, background-color;
		duration: .5s, .4s;
		delay: 0s, .1s;
	}
}

.fa-bars{
	font-size: 35px;
	color: white;
	padding-left: 3px;
	float: left;
	margin: {
		top: 30px;
		left: 25px;
		bottom: 35px;
	}
}

.slinks{
	clear: both;
	color: transparent;
	background-color: transparent;
	display: none;
	text-decoration: none;
	height: 50px;
	line-height: 50px;
	transition: {
		property: background-color;
		duration: .5s;
		delay: 0s;
	}

	i {
		margin-right: 20px;
	}
}

.sidebar.hovered .slinks{
	display:block;
	color: $offwhite;
	padding-left: 20px;
	transition: {
		property: color;
		duration: .1s;
		delay: .5s;
	}
}

.sidebar.hovered .slinks:hover{
	background-color: $slinkhover;
	transition: {
		property: background-color;
		duration: .5s;
		delay: 0s;
	}	
}

#mattr{
	@extend .slinks;

	float: right;
	clear: none;
	margin: {
		top: 20px;
		right: 20px;
	}
}

.sidebar.hovered #mattr:hover{
	background-color: rgba(0,0,0,0);
}

.fa {
	display: inline-block;
	width: 10px; //make text line up
}

.content {
	margin: {
		top: 120px;
		right: 20%;
		left: 20%;
	}
	h1 {
		color: $headerorange;
		font-family: $serif_stack;
	}
}

.port {
	height: auto;
	width: auto;
	margin-left: 20%;
	margin-right: 20%;
}

.pitem {
	height: 400px;
	width: 37%;
	background-color: rgba(204,204,204,.5);
	border-radius: 10px;
	margin-bottom: 50px;
	color: rgb(112,112,112);
	padding: 10px 10px;

	&:nth-child(odd) {
		float: left;
		margin-left: 50px;
	}

	&:nth-child(even) {
		float: right;
		margin-right: 50px;
	}

	.scrot {
		max-width: 300px;
	}

	.imgwrapinner {
		display: table-cell;
		vertical-align: middle;
	}

	.imgwrap {
		display: table;
		width: 100%;
		margin: 5px auto 10px auto;
		height: 50%;
		max-height: 50%;
	}

	.titlelink {
		color: $headerorange;
		font-family: $serif_stack;
		display: block;
		text-align: center;
		text-decoration: none;
		font-size: 24px;
		font-weight: bold;
	}

	a {
		text-decoration: none;
		color: inherit;
	}

	a:hover {
		text-decoration: underline;
	}

	.langs img {
		display: inline-block;
		height: 30px;
		width: 30px;
		margin-top: 10px;
		margin-right: 2px;
	}
}

@media screen and (max-width: 900px){
	.port, .content {
		margin-left: 5%;
		margin-right: 5%;
	}

	.port .pitem {
		margin-left: 0;
		margin-right: 0;
		width: 45%;
	}
}
