<!doctype html>
<html lang="en" ng-app="NewTabApp">
<head>
	<meta charset="UTF-8">
	<title>New Tab</title>
	<link rel="stylesheet" href="style.css">
</head>
<body>
	<div ng-controller="TimeCtrl"><span class="time">{{time}}</span><br>{{date}}</div>
	<div ng-controller="LinkCtrl" id="link-div">
		<input type="text" id="search" ng-model="search" ng-keydown="checkEnter($event)" placeholder="/">
		<keybinding on="/" invoke="focusSearch()" />
		<ul>
			<li ng-repeat="link in links | linkFilter:search">
				<a href="{{link.url}}">{{link.name}}</a>
				<small ng-if="link.keys">[{{link.keys}}] <keybinding on="{{link.keys}}" invoke="gotoLink(link.url)" /></small>
				<small><a href="#" class="del-link" ng-click="removeLink(link.name)">[-]</a></small>
			</li>
		</ul>
		<button ng-click="expandForm()">+</button>
		<form ng-submit="addLink()" id="add-form" style="display:none;">
			Name: <input type="text" ng-model="new.name" required><br>
			URL: <input type="url" ng-model="new.url" required><br>
			Keys: <input type="text" ng-model="new.keys"><br>
			<input type="submit">
		</form>
	</div>
	<div id="time-div">
		<img src="http://imgs.xkcd.com/comics/now.png" height="500">
	</div>
	<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular.min.js"></script>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.5.1/moment.min.js"></script>
	<script src="angular-local-storage.min.js"></script>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/mousetrap/1.4.6/mousetrap.min.js"></script>
	<script src="app.js"></script>
</body>
</html>
