html {
	font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
	background-color: #111;
	color: white;
}

a {
	color: #aaa;
}

.time {
	font-size: 48px;
}

#link-div {
	float: left;
}

#time-div {
	float: right;
}